<div class="main">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button (click)="showLoader('employee')" mat-button>Employees</button>
      <button (click)="showLoader('employer')" mat-button>Company</button>
    </mat-drawer>

    <div class="example-sidenav-content f">
      <button mat-button (click)="drawer.toggle(); toggle()">
        <img
          width="30"
          height="30"
          [src]="togglebtn ? srcclose : srcopen"
          alt="toggle icon"
        />
      </button>
      <h3>My Home</h3>
    </div>
  </mat-drawer-container>

  <div class="frame">
    <router-outlet></router-outlet>
  </div>
</div>
<mat-spinner
  diameter="60"
  strokeWidth="3"
  class="loader"
  *ngIf="loader"
></mat-spinner>
