
.material-form{
  display: flex;
  flex-direction: column;
width: 300px;
padding: 30px;
}
.body{
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
background-color: rgba(255, 255, 255, 0.995);
  border-radius: 10px;
}
.field{
  margin: 5px 0px;
}

button{
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  &:hover{
    cursor: pointer;
    background-color: black;

  }
}
